*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , "sans-serif";
}

body{
    background-image: url("https://www.teahub.io/photos/full/96-964582_material-design-wallpapers-desktop-material-design-background-weather.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.header{
    padding-top: 20px;
    margin: 0 10px 7%;
}

.heading{
    font-weight: bold;
    color: #041C32;
}

#lens{ color: #3E7C17; }

.inputCity{
    text-align: center;
}

#input-box{
    margin-top: 1%;
    background-color: #F9F3DF;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
}

#input-box:focus{
    background-color: white;
}

.weather-body{
    display: none;
    margin-top: 7%;
    border: solid cadetblue;
}

.body .row{
    margin-left: 0;
    margin-right: 0;
    padding: 1%;
}

.location{
    text-align: left;
}

.temp{
    text-align: right;
    margin-top: 7%;
    padding-right: 7%;
}

#temperature{
    font-size: 50px;
}

.status{
    text-align: center;
}

#icon{
    height: 40%;
}

#weather-status{
    margin-top: -8%;
}
